### Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [20]:
str = input("Please enter a Email ID containing letters only:\n ")

str1 = str.split('@')

str2 = str1[1].split('.')

comp = str2[0]
print("company name: \n {}".format(comp))

Please enter a Email ID containing letters only:
 steve.jobs@apple.com
company name:
 apple

### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [40]:
ip = input("Enter the Sequence words with comma serpartion: \n").split(",")
                                                                       
ip.sort()
print("Sorted words:")
for i in ip:
    print(i,end=(","))

Enter the Sequence words with comma serpartion:
india,france,england,italy
Sorted words:
england,france,india,italy,

### Question 3:
Create your own Jupyter Notebook for Sets.

In [37]:
# A set is a collection which is unordered and unindexed. 
# In Python sets are written with curly brackets.
# Sets are immutable

set = {"apple","banana","cherry"}
print(set)

{'cherry', 'banana', 'apple'}

In [41]:
# Accessing items in the set

for x in set:
    print(x)

cherry
banana
apple

In [42]:
# Adding items

set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'cherry', 'orange', 'banana', 'apple'}

In [55]:
# Adding multiple items to set

set = {"apple", "banana", "cherry"}

set.update(["orange", "mango", "grapes"])

print(set)

# length of a set
print(len(set))

# remove item
set.remove("banana")
print(set)

# remove item will raise an error if item to be removed does not exist
# hence discard function is used.
set.discard("banana")
print(set)

# to remove the last item in Set
x = set.pop()
print(x)
print(set)

# empty the set
set.clear()
print(set)

# join the two sets

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# to delete the set use del keyword

del set1
print(set1)

# Error "name 'set1' is not defined" results !!!!

{'orange', 'banana', 'mango', 'apple', 'cherry', 'grapes'}
6
{'orange', 'mango', 'apple', 'cherry', 'grapes'}
{'orange', 'mango', 'apple', 'cherry', 'grapes'}
orange
{'mango', 'apple', 'cherry', 'grapes'}
set()
{1, 'c', 2, 3, 'a', 'b'}

NameError: name 'set1' is not defined

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [41]:
l = '1 2 4 6 3 7 8'
print("List of numbers:",l)

l = l.split(" ")
l = [int(i) for i in l] 

n = max(l)

suma = (n*(n+1))/2
sumn = 0

for i in l:
    sumn = sumn+i

miss = int(suma-sumn)

print("Missing number in the series is: ",miss)

List of numbers: 1 2 4 6 3 7 8
Missing number in the series is:  5

### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [1]:
ip = input("Please enter set of numbers:")

l = ip.split(" ")

length1 = len(l)

for i in range(0,length1):
    l[i] = int(l[i])

l.sort()

l2 = []

for i in l:
    
    if i not in l2: 
            l2.append(i) 

print("Sorted numbers without duplicates:")

length2 = len(l2)

for i in range(0,length2):
    print(l2[i],end=" ")

Please enter set of numbers:12 24 35 24 88 120 155 88 120 155
Sorted numbers without duplicates:
12 24 35 88 120 155