In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dataset = pd.read_csv("general_data.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

# Dataset and Data preparation:

In [ ]:
dataset.dropna

<bound method DataFrame.dropna of       Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]>

In [ ]:
dataset.drop_duplicates

<bound method DataFrame.drop_duplicates of       Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]>

In [ ]:
dataset = dataset[~dataset['TotalWorkingYears'].isin(['NaN'])]
dataset = dataset[~dataset['NumCompaniesWorked'].isin(['NaN'])]

In [ ]:
summary= dataset[['Age','DistanceFromHome','MonthlyIncome','StandardHours','PercentSalaryHike','TotalWorkingYears','NumCompaniesWorked','TrainingTimesLastYear','YearsSinceLastPromotion','YearsWithCurrManager','YearsAtCompany']].describe()
summary

               Age  DistanceFromHome  ...  YearsWithCurrManager  YearsAtCompany
count  4401.000000       4401.000000  ...           4401.000000     4401.000000
mean     36.920473          9.190184  ...              4.122927        7.003636
std       9.139377          8.102578  ...              3.568056        6.123315
min      18.000000          1.000000  ...              0.000000        0.000000
25%      30.000000          2.000000  ...              2.000000        3.000000
50%      36.000000          7.000000  ...              3.000000        5.000000
75%      43.000000         14.000000  ...              7.000000        9.000000
max      60.000000         29.000000  ...             17.000000       40.000000

[8 rows x 11 columns]

In [ ]:
dataset.replace(('Yes', 'No'), (1, 0), inplace=True)
dataset.replace(('Male', 'Female'), (1, 0), inplace=True)
dataset

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

      Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51          0  ...                       0                    0
1      31          1  ...                       1                    4
2      32          0  ...                       0                    3
3      38          0  ...                       7                    5
4      32          0  ...                       0                    4
...   ...        ...  ...                     ...                  ...
4404   29          0  ...                       1                    5
4405   42          0  ...                       0                    2
4406   29          0  ...                       0                    2
4407   25          0  ...                       1                    2
4408   42          0  ...                       7                    8

[4401 rows x 24 columns]

# Correlation between Attrition and other variables:

# **Statement 1** <br>
Null Hypothesis: There is no significant correlation between Attrition and Age of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.Age)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and Age")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and Age")

stats =  -0.15939233186195254 p = 1.9586145691736838e-26
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and Age

# **Statement 2** <br>
Null Hypothesis: There is no significant correlation between Attrition and Gender of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.Gender)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and Gender")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and Gender")

stats =  0.018541053456778932 p = 0.2187830949487431
Conculsion:
p>0.05, Null Hypothesis is accepted!
 There is no significant correlation between Attrition and Gender

# **Statement 3** <br>
Null Hypothesis: There is no significant correlation between Attrition and Monthly Income of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.MonthlyIncome)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and Monthly Income")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and Monthly Income")

stats =  -0.030160293808460668 p = 0.045890862744719166
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and Monthly Income

# **Statement 4** <br>
Null Hypothesis: There is no significant correlation between Attrition and Total working years of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.TotalWorkingYears)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and TotalWorkingYears")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and TotalWorkingYears")

stats =  -0.1703384631724549 p = 5.241246810641933e-30
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and TotalWorkingYears

# **Statement 5** <br>
Null Hypothesis: There is no significant correlation between Attrition and YearsAtCompany	 of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.YearsAtCompany)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and YearsAtCompany")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and YearsAtCompany")

stats =  -0.13361591411199794 p = 5.509399739538274e-19
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and YearsAtCompany

# **Statement 6** <br>
Null Hypothesis: There is no significant correlation between Attrition and TrainingTimesLastYear	 of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.TrainingTimesLastYear)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and TrainingTimesLastYear")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and TrainingTimesLastYear")

stats =  -0.04842780673840439 p = 0.0013104780323732396
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and TrainingTimesLastYear

# **Statement 7** <br>
Null Hypothesis: There is no significant correlation between Attrition and YearsSinceLastPromotion of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.YearsSinceLastPromotion)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and YearsSinceLastPromotion")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and YearsSinceLastPromotion")

stats =  -0.03142315056330998 p = 0.03752293607394324
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and YearsSinceLastPromotion

# **Statement 8** <br>
Null Hypothesis: There is no significant correlation between Attrition and YearsWithCurrManager of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.YearsWithCurrManager)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and YearsWithCurrManager")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and YearsWithCurrManager")

stats =  -0.15469153690287285 p = 7.105369646772844e-25
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and YearsWithCurrManager

# **Statement 9** <br>
Null Hypothesis: There is no significant correlation between Attrition and Number of Companies Worked of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.NumCompaniesWorked)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and Number of Companies Worked")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and Number of Companies Worked")

stats =  0.042830567244720834 p = 0.004572057121622929
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant correlation between Attrition and Number of Companies Worked

# **Statement 10** <br>
Null Hypothesis: There is no significant correlation between Attrition and Distance From Home of Associates  <br> 
Ho: rho = 0

In [ ]:
from scipy.stats import pearsonr

stats,p = pearsonr(dataset.Attrition,dataset.DistanceFromHome)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant correlation between Attrition and Distance From Home")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant correlation between Attrition and Distance From Home")

stats =  -0.008608690771596579 p = 0.5680340915894816
Conculsion:
p>0.05, Null Hypothesis is accepted!
 There is no significant correlation between Attrition and Distance From Home