In [2]:
%matplotlib inline
import pandas as pd

In [259]:
df = pd.read_csv('C:/Users/karth/Assignments/Day16&17/Dataset/titles.csv')
df.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [260]:
titles = df.drop(columns='year')
titles

                                      title
0                        Tasveer Mere Sanam
1                                  Only You
2                      El pueblo del terror
3                                   Machine
4                                      MARy
...                                     ...
244909  Black Butterfly in a Colorful World
244910        Hua fei hua wu chun man cheng
244911                 Nippon dabi katsukyu
244912        Under Siege 2: Dark Territory
244913            She Must Be Seeing Things

[244914 rows x 1 columns]

### How many movies are listed in the titles dataframe?

In [261]:
x = int(titles.count())
print("Total no.of Titles: ",x)

Total no.of Titles:  244914

### What are the earliest two films listed in the titles dataframe?

In [262]:
df.sort_values(by=['year']).head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [263]:
count = 0
for x in df['title']:
    if(x == "Hamlet"):
        count = count+1

print("No. of Movies having title 'Hamlet' is: ",count)

No. of Movies having title 'Hamlet' is:  20

### How many movies are titled "North by Northwest"?

In [264]:
count = 0
for x in df['title']:
    if(x == "North by Northwest"):
        count = count+1

print("No. of Movies having title 'North by Northwest' is: ",count)

No. of Movies having title 'North by Northwest' is:  1

### When was the first movie titled "Hamlet" made?

In [265]:
df.sort_values(by=['year'],inplace=True)
print("The Year of first movie title 'Hamlet' made is: ",df.loc[df['title'] == 'Hamlet', 'year'].iloc[0])

The Year of first movie title 'Hamlet' made is:  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [266]:
df.sort_values(by=['year'],inplace=True)
df[df['title'].str.contains("Treasure Island")]

                                                    title  year
55686                                     Treasure Island  1918
196514                                    Treasure Island  1920
141822                                    Treasure Island  1934
64173                       The Secret of Treasure Island  1938
79701                     Charlie Chan at Treasure Island  1939
77354                                     Treasure Island  1950
34341                           Return to Treasure Island  1954
34288                           Five on a Treasure Island  1957
65051                                     Treasure Island  1972
37238                                     Treasure Island  1973
173051                                    Treasure Island  1985
26111                              Muppet Treasure Island  1996
216970                               Treasure Island (II)  1999
27076                                     Treasure Island  1999
2830                           Pirates of Treasure Island  2006
112591  Treasure Island Kids: The Mystery of Treasure ...  2006
244541  Treasure Island Kids: The Monster of Treasure ...  2006
209707  Treasure Island Kids: The Battle of Treasure I...  2006
155317             National Theatre Live: Treasure Island  2015

### How many movies were made in the year 1950?

In [267]:
df.sort_values(by=['year'],inplace=True)
df1 = df[(df['year'] >= 1950) & (df['year'] <= 1950)]
print("No. of movies made in year 1950: ",df1['year'].count())

No. of movies made in year 1950:  1113

### How many movies were made in the year 1960?

In [268]:
df.sort_values(by=['year'],inplace=True)
df1 = df[(df['year'] >= 1960) & (df['year'] <= 1960)]
print("No. of movies made in year 1960: ",df1['year'].count())

No. of movies made in year 1960:  1549

### How many movies were made from 1950 through 1959?

In [269]:
df.sort_values(by=['year'],inplace=True)
df1 = df[(df['year'] >= 1950) & (df['year'] <= 1959)]
print("No. of movies made in year from 1950 through 1959: ",df1['year'].count())

No. of movies made in year from 1950 through 1959:  12934

### In what years has a movie titled "Batman" been released?

In [270]:
df.sort_values(by=['year'],inplace=True)
print("The Year of first movie title 'Batman' made is: ")
df1 = df[df['title'].str.contains("Batman")]
for x in df1['year']:
    print(x)

The Year of first movie title 'Batman' made is:
1943
1949
1964
1965
1966
1966
1967
1973
1989
1991
1992
1993
1995
1997
2005
2010
2010
2010
2012
2014
2014
2016
2016
2016
2016
2016
2016
2017
2017
2017
2018
2018
2018
2018
2018

### How many roles were there in the movie "Inception"?

In [3]:
dfc = pd.read_csv('C:/Users/karth/Assignments/Day16&17/Dataset/cast.csv')
dfc.head()

dfc1 = dfc[dfc['title'].str.match("Inception")]

print("No. of roles having title 'Inception' is: ",dfc1['title'].count())

No. of roles having title 'Inception' is:  80

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [4]:
dfc1 = dfc[dfc['title'].str.match("Inception")]
print("the no. of roles in the movie 'Inception' are NOT ranked by an 'n' value is ")
dfc1['n'].isnull().sum()

the no. of roles in the movie 'Inception' are NOT ranked by an 'n' value is

29

### But how many roles in the movie "Inception" did receive an "n" value?

In [5]:
dfc1 = dfc[dfc['title'].str.contains("Inception")]
print("the no. of roles in the movie 'Inception' are ranked by an 'n' value is ")
print(dfc1['n'].notnull().sum())

the no. of roles in the movie 'Inception' are ranked by an 'n' value is
51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [6]:
dfc1 = dfc[dfc['title'].str.match("North by Northwest")]
dfc1.sort_values(by=['n'],inplace = True)
for x in dfc1['name']:
    print(x)

Cary Grant
Eva Marie Saint
James Mason
Jessie Royce Landis
Leo G. Carroll
Josephine Hutchinson
Philip Ober
Martin Landau
Adam Williams
Edward Platt
Robert Ellenstein
Les Tremayne
Philip Coolidge
Patrick McVey
Edward Binns
Ken Lynch
Stanley Adams
Andy Albin
Don Anderson
Ernest Anderson
Malcolm Atterbury
Tol Avery
Sam Bagley
Frank Baker
Alex Ball
Baynes Barron
Brandon Beach
John Beradino
Stephen Bolster
Steve Carruthers
Taggart Casey
Bill Catching
Bob (II) Coe
David A. Cox
Walter Coy
Jimmy Cross
Jack Daly
John Damler
Lawrence Dobkin
Daniel Elam
Tommy Farrell
Adolph Faylauer
Paul Genge
Ned Glass
James Gonzalez
Tom Greenway
Robert Haines
Stuart Hall
Len Hendry
Alfred Hitchcock
Stuart Holmes
Hideo Inamura
Eugene Jackson
Bobby Johnson
Dick Johnstone
Sid Kane
Kenner G. Kemp
Colin Kenny
Larry Leverett
Carl M. Leviness
Alexander Lockwood
Frank Marlowe
Tom (III) Marshall
Thomas Martin
James McCallion
Carl Milletaire
Hans Moebus
Howard Negley
Monty O'Grady
Henry O'Neill
Murray Pollack
Charles Postal
Hugh Pryor
Ralph Reed
John Roy
Cosmo Sardo
Jeffrey Sayre
Jeffrey Sayre
Scott Seaton
Harry Seymour
Robert Shayne
Larry Sherman
Jeremy Slate
Olan Soule
Harvey Stephens
Bert Stevens
Harry Strang
Joe Szorentini
Paul Togawa
Arthur Tovey
Dale Van Sickel
Ray Weaver
Frank Wilcox
Lloyd (VI) Williams
Robert Williams
Wilson Wood
Carleton Young
Ernesto Zambrano
Anne (II) Anderson
Rama Bai
Audrey Betz
Lucille Curtis
Patricia Cutts
Jesslyn Fax
Bess Flowers
Josephine Forsberg
Sally Fraser
Madge Kennedy
Doreen Lang
Nora Marlowe
Maura McGiveney
Maudie Prickett
Doris Singh
Helen Spring
Susan Whitney
Paula Winslowe

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [7]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1972) & (dfc['year'] <= 1972)]
dfc2 = dfc1[dfc1['title'].str.match("Sleuth")]
dfc2.sort_values(by=['n'],inplace = True)

for x in dfc2['name']:
    print(x)

Laurence Olivier
Michael Caine
Alec Cawthorne
John (II) Matthews
Eve (III) Channing
Teddy Martin

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [8]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 2007) & (dfc['year'] <= 2007)]
dfc2 = dfc1[dfc1['title'].str.match("Sleuth")]
dfc2.sort_values(by=['n'],inplace = True)

for x in dfc2['name']:
    print(x)

Michael Caine
Jude Law
Harold Pinter
Kenneth Branagh
Eve (II) Channing
Alec (II) Cawthorne
Carmel O'Sullivan

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### How many roles were credited in the silent 1921 version of Hamlet?

In [9]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1921) & (dfc['year'] <= 1921)]
dfc2 = dfc1[dfc1['title'].str.match("Hamlet")]
dfc2.sort_values(by=['n'],inplace = True)

for x in dfc2['name']:
    print(x)

Asta Nielsen
Paul Conradi
Mathilde Brandt
Eduard von Winterstein
Heinz Stieda
Hans Junkermann
Anton De Verdier
Lilly Jacobson
Fritz Achterberg

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [10]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1996) & (dfc['year'] <= 1996)]
dfc2 = dfc1[dfc1['title'].str.match("Hamlet")]

dfc2['character'].count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [11]:
dfc1 = dfc[dfc['character'].str.match("Hamlet")]

dfc1['character'].count()

125

### How many people have played an "Ophelia"?

In [13]:
dfc1 = dfc[dfc['character'].str.match("Ophelia")]

dfc1['name'].drop_duplicates()
print(dfc1['name'].count())

146

### How many people have played a role called "The Dude"?

In [14]:
dfc1 = dfc[dfc['character'].str.match("The Dude")]

dfc1['name'].drop_duplicates()
print(dfc1['name'].count())

23

### How many people have played a role called "The Stranger"?

In [15]:
dfc1 = dfc[dfc['character'].str.match("The Stranger")]

dfc1['name'].drop_duplicates()
print(dfc1['name'].count())

224

### How many roles has Sidney Poitier played throughout his career?

In [16]:
dfc1 = dfc[dfc['name'].str.match("Sidney Poitier")]

print(dfc1['character'].count())

43

### How many roles has Judi Dench played?

In [17]:
dfc1 = dfc[dfc['name'].str.match("Judi Dench")]

print(dfc1['character'].count())

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [19]:
dfc = pd.read_csv('C:/Users/karth/Assignments/Day16&17/Dataset/cast.csv')


dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1940) & (dfc['year'] <= 1949)]

dfc1 = dfc1[dfc1['name'].str.match("Cary Grant")]

dfc1 = dfc1[(dfc1['n'] >= 2) & (dfc1['n'] <= 2)]

for x in dfc1['character']:
    print(x)

Nick Arden
Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [21]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1940) & (dfc['year'] <= 1949)]

dfc1 = dfc1[dfc1['name'].str.match("Cary Grant")]

dfc1 = dfc1[(dfc1['n'] >= 1) & (dfc1['n'] <= 1)]

for x in dfc1['character']:
    print(x)

C. K. Dexter Haven
Matt Howard
Walter Burns
Johnnie Aysgarth
Leopold Dilg
Patrick 'Pat' O'Toole
Capt. Cassidy
Joe Adams -posing as Joe Bascopolous
Jerry Flynn
Mortimer Brewster
Ernie Mott
Devlin
Cole Porter
Dick Nugent
Dudley
Dr. Madison Brown
Jim Blandings
Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [23]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1950) & (dfc['year'] <= 1959)]
dfc1 = dfc1[dfc1['type'].str.match("actor")]


dfc1['character'].count()

157738

### How many roles were available for actresses in the 1950s?

In [26]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 1950) & (dfc['year'] <= 1959)]
dfc1 = dfc1[dfc1['type'].str.match("actress")]


dfc1['character'].count()

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [27]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 0) & (dfc['year'] <= 1980)]
dfc1 = dfc1[(dfc1['n'] >= 1) & (dfc1['n'] <= 1)]


dfc1['character'].count()

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [30]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 0) & (dfc['year'] <= 1980)]
dfc1 = dfc1[(dfc1['n'] != 1)]


dfc1['character'].count()

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [31]:
dfc.sort_values(by=['year'],inplace=True)
dfc1 = dfc[(dfc['year'] >= 0) & (dfc['year'] <= 1980)]

dfc1 = dfc1[dfc1['n'].isna()]

dfc1['character'].count()

448347