In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
dataset = pd.read_csv("general_data.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

# Dataset and Data preparation:

In [38]:
dataset.dropna

<bound method DataFrame.dropna of       Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]>

In [39]:
dataset.drop_duplicates

<bound method DataFrame.drop_duplicates of       Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]>

In [40]:
dataset = dataset[~dataset['TotalWorkingYears'].isin(['NaN'])]
dataset = dataset[~dataset['NumCompaniesWorked'].isin(['NaN'])]

In [41]:
summary= dataset[['Age','DistanceFromHome','MonthlyIncome','StandardHours','PercentSalaryHike','TotalWorkingYears','NumCompaniesWorked','TrainingTimesLastYear','YearsSinceLastPromotion','YearsWithCurrManager','YearsAtCompany']].describe()
summary

               Age  DistanceFromHome  ...  YearsWithCurrManager  YearsAtCompany
count  4382.000000       4382.000000  ...           4382.000000     4382.000000
mean     36.933364          9.198996  ...              4.126198        7.010497
std       9.137272          8.105396  ...              3.569674        6.129351
min      18.000000          1.000000  ...              0.000000        0.000000
25%      30.000000          2.000000  ...              2.000000        3.000000
50%      36.000000          7.000000  ...              3.000000        5.000000
75%      43.000000         14.000000  ...              7.000000        9.000000
max      60.000000         29.000000  ...             17.000000       40.000000

[8 rows x 11 columns]

## Sorting the Attrition data:

In [42]:
dfyes = pd.read_excel('general_data_Attrition_Yes.xlsx',sheet_name=0)
dfno = pd.read_excel('general_data_Attrition_No.xlsx',sheet_name=0)

In [43]:
dfsingle = pd.read_excel('general_data_Single.xlsx',sheet_name=0)
dfmarried = pd.read_excel('general_data_Married.xlsx',sheet_name=0)
dfdivorce = pd.read_excel('general_data_Divorced.xlsx',sheet_name=0)

In [44]:
dfmale = pd.read_excel('general_data_Male.xlsx',sheet_name=0)
dffemale = pd.read_excel('general_data_Female.xlsx',sheet_name=0)

# **Non parametric Hypothesis**

## **Wilcoxon Test** <br>
(Comparision of two paried samples) <br>
There is no chance to perform subject test since there are no independent samples in it.

## **Friedman Test** <br>
(Comparision of more than two paired samples) <br>
There is no chance to perform subject test since there are no independent samples in it.  <br>

## **Mann-Whitney Test** <br>
(Comparision of two independent samples)  <br>

Null Hypothesis: There is no significant difference in Annual Incomes with Attrition- Yes and Attrition-No

Alternate Hypothesis: There is significant difference in Annual Incomes with Attrition- Yes and Attrition-No

In [45]:
from scipy.stats import mannwhitneyu
stat,p = mannwhitneyu(dfyes.MonthlyIncome,dfno.MonthlyIncome)

print("stat = ",stat,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant difference in Annual Incomes with Attrition- Yes and Attrition-No")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant difference in Annual Incomes with Attrition- Yes and Attrition-No")

stat =  1264900.5 p = 0.053577283839938566
Conculsion:
p>0.05, Null Hypothesis is accepted!
 There is no significant difference in Annual Incomes with Attrition- Yes and Attrition-No

## **Kurskhal-wallis Test** <br>
(Comparision of more than two independent samples)  <br>

Null Hypothesis: There is no significant difference in Distance from Home
 with marital status (Married, single and Divorced associates)

Alternate Hypothesis: There is significant difference in Distance from Home with marital status (Married, single and Divorced associates)

In [46]:
from scipy.stats import kruskal

stat,p =kruskal(dfsingle.DistanceFromHome,dfmarried.DistanceFromHome,dfdivorce.DistanceFromHome)

print("stat = ",stat,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant difference in Distance from Home with marital status (Married, single and Divorced associates)")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant difference in Distance from Home with marital status (Married, single and Divorced associates)")

stat =  9.467930759090601 p = 0.008791540035126109
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant difference in Distance from Home with marital status (Married, single and Divorced associates)

## **Chi- square Test** <br>
(Checking dependency of 3 categorical variables) <br>
Null Hypothesis: There is no significant dependency between Attrition and Gender of Associates  <br> 

Alternate Hypothesis: There is significant dependency between Attrition and Gender of Associates  <br>

In [56]:
from scipy.stats import chi2_contingency

chitable = pd.crosstab(dfmale.Attrition,dffemale.Attrition)
stats,p,dof,expected = chi2_contingency(chitable)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant dependency between Attrition and Gender of Associates")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant dependency between Attrition and Gender of Associates")

stats =  4402.608354144141 p = 0.0
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant dependency between Attrition and Gender of Associates

# **Parametric Test:**

## **Two sample independent t test** <br>
(Compare the mean of two independent samples)

Null Hypothesis: There is no significant differences in the Distance From Home between attrition (Y) and attirition (N)  <br> 

Alternate Hypothesis: There is significant differences in the Distance From Home between attrition (Y) and attirition (N)  <br>

In [61]:
from scipy.stats import ttest_ind
stats, p = ttest_ind(dfyes.MonthlyIncome,dfno.MonthlyIncome)

print("stats = ",stats,"p =",p)

print("Conculsion:")

if p<0.05:
  print("p<0.05, Null Hypothesis is rejected! \n There is significant difference in Distance From Home with Attrition- Yes and Attrition-No")
else:
  print("p>0.05, Null Hypothesis is accepted! \n There is no significant difference in Distance From Home with Attrition- Yes and Attrition-No")

stats =  -2.0708863763619316 p = 0.03842748490605113
Conculsion:
p<0.05, Null Hypothesis is rejected!
 There is significant difference in Distance From Home with Attrition- Yes and Attrition-No